*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(
    to right,
    #f09819,
    #edde5d
  );
  font-family: Roboto, Helvetica, sans-serif;
  padding: 50px 10px;
}

.container {
  padding: 30px;
}
.quoteGenerating {
  margin-top: 40px;
  text-align: start;
  font-size: 20px;
}
textarea {
  margin-top: 60px;
  width: 100%;
  color: white;
  font-size: 20px;
  border: 2px solid rgb(140 140 140 / 43%);
  text-align: start;
}
.time , .score {
  background: #8E0E00;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #1F1C18, #8E0E00);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #1F1C18, #8E0E00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding: 15px;
  font-size: 20px;
  border-radius: 10px;
  font-weight: 600;
}
