*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(
    to right,
    #f09819,
    #edde5d
  );
  font-family: Roboto, Helvetica, sans-serif;
  padding: 50px 10px;
}

.container {
  padding: 30px;
}
.quoteGenerating {
  margin-top: 40px;
  text-align: start;
  font-size: 20px;
}
textarea {
  margin-top: 60px;
  width: 100%;
  color: white;
  font-size: 20px;
  border: 2px solid rgb(140 140 140 / 43%);
  text-align: start;
}
.time , .score {
  background : linear-gradient(90deg, rgb(0, 0, 0), rgb(82, 82, 81));
  padding: 15px;
  font-size: 20px;
  border-radius: 10px;
  font-weight: 600;
}
